@font-face {
  font-family: myFirstFont;
  src: url(../assets/fonts/FastHand.otf);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: rgb(73, 73, 73);
  color: #333;
}
img {
  max-height: 8em;
}

/* Estilos para la cabezera principal*/
body > header {
  top: 0;
  background-color: #333;
  color: #fff;
  padding: 0.7em;
  position: fixed;
  width: 100%;
}

body > header a {
  padding: 0.2em;
  color: #fff;
  text-decoration: none;
}

body > header a:hover {
  border-bottom: 0.2em solid #ffffff;
}

/* Estilos para una barra lateral de navegación */
ul.horizontalList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.horizontalList div {
  float: left;
}

ul.horizontalList div.right {
  float: right;
}

ul.horizontalList li {
  float: left;
  margin: 1em;
}

ul.horizontalList li.left {
  float: left;
}

/* Main content */

main > header {
  background: linear-gradient(80deg, rgb(93, 255, 201), rgb(252, 194, 70) 100%);
  height: 100vh;
  margin: auto;
  padding: 10px 0;
  height: 100vh;
}

.bg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 125% 125%;
  background-image: linear-gradient(90deg, rgb(63, 94, 251), rgb(252, 70, 107));
  animation: AnimateBG 10s ease infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main > header h1 {
  font-size: 3em;
  text-align: center;
  font-family: myFirstFont;
  -webkit-text-stroke: 1px rgb(234, 255, 255);
}

.anchor {
  display: block;
  visibility: hidden;
}

main > article {
  background-color: rgb(241, 255, 241);
  box-shadow: 0 1px 3px hsla(209, 100%, 75%, 0.06),
  0 2px 6px hsla(209, 100%, 75%, 0.06),
  0 3px 8px hsla(209, 100%, 75%, 0.06);
  border-radius: 2em;
  width: 85vw;
  height: 50%;
  margin: auto;
}
main > article {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
main > article > header{
  padding: 0.5em;
}
.content{
  width: 90%;
  padding: 0.5em;
  margin: auto;
}
.content > section{
  text-align: justify;
  border-radius: 2em;
  width: 70vw;
  box-shadow: 0 1px 3px hsla(209, 100%, 75%, 0.06),
  0 2px 6px hsla(209, 100%, 75%, 0.06),
  0 3px 8px hsla(209, 100%, 75%, 0.06);
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-bottom: 1em;
}
section > header{
  padding: 1em;
  text-align: center;
  font-weight: bold;
}

/* Footer*/
body > footer {
  background-color: #333;
  color: #fff;
}
