body {
  margin: 0px;
  padding: 0px;
  background-color: #f5f5f5;
  color: #333;
}
img {
  max-height: 8em;
}

/* Estilos para la cabezera principal*/
body > header {
  top: 0;
  background-color: #333;
  color: #fff;
  padding: 0.7em;
  position: fixed;
  width: 100%;
}

body > header a {
  padding: 0.4em;
  color: #fff;
  text-decoration: none;
}

body > header a:hover {
  border-bottom: 0.2em solid #ffffff;
}

/* Estilos para una barra lateral de navegación */
ul.horizontalList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.horizontalList div {
  float: left;
}

ul.horizontalList div.right {
  float: right;
}

ul.horizontalList li {
  float: left;
  margin: 1em;
}

ul.horizontalList li.left {
  float: left;
}

/* Main content */

.anchor {
  display: block;
  visibility: hidden;
}
